$font-size-base: 17px;
$font-size-h1: floor(($font-size-base * 2));
$font-size-h2: floor(($font-size-base * 1.25));
$headings-font-weight: 200;
$songlib-red: #C0343C;
$headings-color: $songlib-red;
$navbar-inverse-bg: rgba(0,0,0,0.3);
$navbar-inverse-color: #fff;
$navbar-inverse-link-color: #fff;
$brand-danger: $songlib-red;
