{{ partial "header" . }}
{{ partial "navbar" . }}


<div class="hero" style="background-image: url('/img/hero-homepage.jpg'); background-position: 50% 50%;">
  <div style="min-height: 100vh;">
    <div class="container">
      <div class="align-bottom text-center" style="height:75vh; padding: 30px 0;">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
              <img class="img-responsive" src="/img/songlib-logo-white-large.png"/>


          </div>
        </div>

        <!-- <br/> -->
        <p class="lead">Chord chart software for your music team.</p>

        <a href="/features/chord-charts/" class="btn btn-lg btn-default">Features <i class="fa fa-check-square-o" aria-hidden="true"></i></a>
        &nbsp;
        <a href="/docs/libraries/" class="btn btn-lg btn-warning">Docs <i class="fa fa-file-text" aria-hidden="true"></i></a>
        &nbsp;
        <a href="https://songlib.com/accounts/login/" class="btn btn-lg btn-primary">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a>
        &nbsp;
        <a href="https://songlib.com/accounts/register/" class="btn btn-lg btn-danger">Sign up <i class="fa fa-check" aria-hidden="true"></i></a>
        <br/>
        <br/>
        <br/>

        <a href="#more-info" class="btn btn-lg btn-link" style="color: #fff;">More info <i class="fa fa-chevron-down" aria-hidden="true"></i></a>

      </div>
    </div>
  </div>
</div>




<div class="container" id="more-info">

  <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
      <div class="col-md-6">
          <p><img class="img-responsive" src="/img/old-screenshots/chordchart-simple-3d.png"/></p>
      </div>
      <div class="col-md-6">
          <h4>Your private chord chart library<br/><br/></h4>
          <ul style="font-size: 18px;">
              <li>Simple plain-text markup for <a style="color: #333; text-decoration: underline;" href="/about/chordcharts/">chord-charts</a>.<br/><br/></li>
              <li>Create &amp; share setlists with your <a style="color: #333; text-decoration: underline;" href="/about/worship-teams/">music team</a>.<br/><br/></li>
              <li>Display <a style="color: #333; text-decoration: underline;" href="/about/presenter/">slideshow presentations</a>.<br/><br/></li>
              <li>Tested on iOS, Android, and all modern desktop browsers.*<br/><br/></li>
              <li><span class="label label-success">NEW</span> Import your existing song library (Chordpro format)<br/><br/></li>
          </ul>
          <p>
              <br/>

          </p>
          <p style="font-size: 12px; font-style: italic; padding-top:20px;">* Runs in your web-browser.  Internet connection required</p>
      </div>
  </div>


</div>

{{ partial "footer" . }}
{{ partial "footer_js" . }}
