{{ partial "header" . }}

{{ partial "navbar" . }}

<div class="container">
  <div class="div">
    <div class="page-header">
      <h1 class="title">{{.Title}}</h1>
      {{ if isset .Params "subtitle" }}<p class="lead">{{ .Params.subtitle }}</p>{{ end }}
    </div>
  </div>
    <div class="row">
      <div class="col-md-9 col-sm-8">

        <div class="page-header">
          <p>{{ .Params.introduction }}</p>
          <br/>
          <div class="clearfix">
            <div class="well well-sm pull-left">
              <h5 class="text-center">Contents</h4>
              {{ .TableOfContents }}
            </div>
          </div>
          {{ .Content }}
        </div>

      </div>
      <div class="col-md-3 col-sm-4">
        {{ partial "menu" . }}
      </div>
    </div>

    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-8 col-lg-offset-3 col-md-offset-3">
      {{ partial "footer" . }}
      </div>
    </div>

</div>

{{ partial "footer_js" . }}
</html>
