
<div class="navbar navbar-inverse navbar-top-fixed" style="position: absolute; right:0; left: 0; top: 0;">
<div class="container">
  <div class="navbar-header">
    <!-- <a href="{{ .Site.BaseURL }}" class="navbar-brand"><i class="fa fa-music" aria-hidden="true"></i> {{ .Site.Title }}</a> -->
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="navbar-collapse collapse" id="navbar-main">

    <ul class="nav navbar-nav navbar-right">

      {{ $currentNode := . }}
      {{ range .Site.Menus.main }}
          {{ if .HasChildren }}

            <li class="dropdown{{if $currentNode.HasMenuCurrent "main" . }} active{{end}}">
              <a href="{{.URL}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  {{ .Pre }}
                  <span>{{ .Name }}</span>
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                  {{ range .Children }}
                    <li{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}} style="margin-top: 5px;">
                      <a href="{{.URL}}"> {{ .Name }} </a>
                    </li>

                    {{ range .Children }}
                      <li class="small{{if $currentNode.IsMenuCurrent "main" . }} active{{end}}">
                        <a href="{{.URL}}" style="padding-left: 20px;"> - {{ .Name }} </a>
                      </li>
                    {{ end }}

                  {{ end }}
              </ul>
          {{else}}
            <li>
              <a class="" href="{{.URL}}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
              </a>
          {{end}}
        </li>
      {{end}}

    </ul>
  </div>
</div>

</div>

<!-- <div style="height: 70px;"></div> -->
